

:root{
   --primary-color: blueviolet;
}

.hero{
    background-color: var(--primary-color);
    /* background-image: url('../busines-side.webp'); */
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    object-fit: cover;
  
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem auto;
    width: 80%;
    height: 50vh
}